.fe-layout {
  .el-menu--collapse .el-submenu__title span {
    display: none;
  }
  .el-menu--collapse .el-submenu__title .el-submenu__icon-arrow {
    display: none;
  }
}

.fe-textarea {
  textarea::placeholder {
    font-family: initial;
  }
}

.el-tooltip__popper {
  max-width: 500px;
}

.fe-layout {
  .el-table {
    .cell {
      outline: none;
      &:focus {
        outline: none;
      }
    }
  }
}
